*{
    margin: 0;
    padding: 0;
}
.logosena{
    float: right;
    margin: 0px 100px 0px 0px;
}
header h1{
    background-color: #ABFCB8;
    border-radius: 20px;
    padding: 50px;
    margin: 0px 400px 0px 20px;
}
footer{
    box-shadow: #ABFCB8 0px -80px 30px;
    color: black;
}
.redes{
    text-align: left;
}
.politica{
    float: right;
}

footer a{
    color: black;
}
footer img{
    float: left;
}
section{
    padding: 250px;
}