    {% extends 'base.html' %}

    {% block title %}Cargos - Tienda de productos para mascotas "Garras"{% endblock %}
    
    {% block extra_css %}
    {% load static  %}
        <link rel="stylesheet" href="{% static 'menuprincipal/css/style.css' %}">

        <h1 style="float: inline-start; padding-top: 30px; padding-left: 30px;">¡AGENDA TU CITA!</h1>

    {% endblock %}
    
    {% block content %}
<!-- Calendly inline widget begin -->
<div class="calendly-inline-widget" data-url="https://calendly.com/anagaleanoherrera25/30min?primary_color=4ea64e" style="min-width:320px;height:700px;"></div>
<script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
<!-- Calendly inline widget end -->

    <article >
        <p> Agendar una cita de acuerdo al psicólogo disponible. </p>
    </article>

    {% endblock %}