{% extends 'base.html' %}

{% block title %}informacion{% endblock %}

{% block extra_css %}
{% load static  %}

{% endblock %}
{% block content %}

<section class="carrusel">
    <div id="carouselExampleDark" class="carousel carousel-dark slide">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="10000">
            <img src="https://picsum.photos/id/22/1920/500" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Educate con nuestra seccion informativa</h5>
              <p>Distingue tus sintomas</p>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img src="https://picsum.photos/id/17/1920/500" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Second slide label</h5>
              <p>Some representative placeholder content for the second slide.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="https://picsum.photos/id/18/1920/500" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Third slide label</h5>
              <p>Some representative placeholder content for the third slide.</p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </section>
<section class="encontrar my-5">
    <h2 class="text-center my-5">La ansiedad</h2>
    <div class="contenido">
        <div class="row">
            <div class="col-6">
                <p>La ansiedad es un sentimiento de miedo, temor e inquietud. Esta puede ser una reacción normal al estrés. Se tiene en cuenta que este sentimiento tambien puede ayudarte a enfrentar una situación o darte impulso de energía o ayudar a concentrarse.

                </p>
                <h2 class="sub">¿Que son los trastornos de ansiedad? </h2>
                <p>Son afecciones en las que las ansiedad no desaparece y pueden empeorar con el tiempo. Estos sintomas se pueden ver reflejados con las actividades diaras, desempeño en el trabajo, escuela o relaciones entre personas.</p>
                <h2 class="sub">¿Cuales son los tipos de trastornos de ansiedad?  </h2>
                <p>- Trastorno de ansiedad generalizada: Este es donde las personas se preocupan por problemas comunes como la salud, dinero, trabajo y familia. Pero estas enfermedades son excesivas y la tienen casi todos los días. 
                </p>
                <p>-Trastorno de panico: Sufren ataques de pánico. Estos son repentinos y repetidos momentos de miedo intenso sin haber un pleigro aparente.
                </p>
                <p>Fobias: En este caso son las personas que tienen un miedo intenso a algo que representa un poco o ningún peligro real.
                </p>
                <h2 class="sub">¿Que causa los trastornos de ansiedad?</h2>
                <p>Factores como la genetica, el estres y su entorno puede ser un rol
                </p>
                <h2 class="sub">¿Quien esta en riesgo de tener transtornos de ansiedad?
                </h2>
                <p>El transtoro de ansiedad generalizada y las fobias son más comunes en las mujeres, pero, la ansiedad social afecta a los hombres y mujeres por igual.
                </p>
                <h2 class="sub">¿Cuales son los sintomas de los trastornos de ansiedad? 
                </h2>
                <p>- Pensamientos o creencias ansiosos dificiles de controlar
                </p>
                <p>- Sintomas físicos, como latidos, cardíacos fuertes o rápidos, dolores y molestias inexplicables
                </p>
                <p>-Cambios en el comportamiento.
                </p>
                <h2 class="sub">¿Como se diagnostican los trastornos de ansiedad? 
                </h2>
                <p>Para diagnosticar ellos se puede acudir a un profesional de la salud, tambien es posible hacer un examen fisico y pruebas de laboratorio.
                </p>
                <h2 class="sub">¿Cuales son los tratamientos para el trastornos de ansiedad? 
                </h2>
                <p>-Psicoterapia: Puede ayudar a renococer y cambiar emociones, pensamientos y conductas 
                </p>
                <p>- Terapia cognitivo-conductual: Enseña diferentes formas de pensar y comportarse
                </p>
                <p>-Terapia de aceptacion y compromiso: Puede ayudar con algunos trastornos de ansiedad 
                </p>
                <p>-Los medicamentos: Para tratar los trastornos de ansiedad incluyen medicamentos contra la ansiedad y ciertos antidepresivos.</p>

            </div>
            <div class="col-6">
                <img src="{% static 'aplicacion/iconos/ansi.png' %}" alt="" width=100% height=70%>
            </div>
        </div>
    </div>
    <hr class="mb-4">
    <h2 class="text-center my-5">La depresion</h2>
        <div class="contenido">
            <div class="row">
                <div class="col-6">
                    <p>Esta se puede descubrir como el hecho de estar triste, melancolico, infeliz o derrumbado. La depresion clínica es un trastorno del estado anímico en el cual los sentimientos de tristeza, pérdida, ira o frustracción interfieren en la vida diaria.
                    </p>
                    <h2 class="sub">Consideraciones
                    </h2>
                    <p>La depresión puede suceder en personas de todas las edades; Los sintomas de depresion incluyen: 
                        <br>
                        -Agitación, inquietud, irratibilidad, ira
                        <br>
                        -Volverse retraído o aislarse
                        <br>
                        - Fatiga y falta de energía 
                        <br>
                        -Sentimiento de impotencia, culpabilidad y odio a si mismo. </p>
                    <h2 class="sub">Tipos de depresion principales:
                    </h2>
                    <p>-Depresión mayor: Sucede cuando los sentimientos interfieren en la vida diaria.
                        <br>
                        -Trastorno depresivo persistente: Se trata de un ánimo depresivo que dura 2 años.
                        <br>
                        Tambien se incluyen:
                        <br>
                        -Depresion posparto, Trastorno disfórico premenstrual, Trastorno afectivo estacional, Depresion mayor con caracteristicas psicoticas y Trastorno bipolar.
                        </p>
                    <h2 class="sub">Causas: 
                    </h2>
                    <p>La depresion a menudo se transmite de padres a hijos, esto puede deberse a los genes. 
                        <br>
                        Factores que pueden causar la depresión: Alcoholismo o consumo de drogas
                        Situaciones o hechos estresantes en la vida, aislamiento social. 
                        </p>
                        <h2 class="sub">Cuando contactar un profesional médico
                        </h2>
                        <p>-Escuchar voces que no existen
                            <br>
                            - Llorar con frecuencia sin una causa
                            <br>
                            - Afectar su vida laboral, escolar o familiar
                            </p>
                        <h2 class="sub">Nombres alternativos:
                        </h2>
                        <p>-Melancolia
                            <br>
                            -Tristeza
                            <br>
                            -Pesadumbre
                            <br>
                            -Desesperanza</p>
                </div>
                <div class="col-6">
                    <img src="{% static 'aplicacion/iconos/quitar.png' %}" alt="" width=80% height=90%>
                </div>
            </div>
        </div>
        <hr class="mb-4">
        <h2 class="text-center my-5">El estrés</h2>
        <div class="contenido">
            <div class="row">
                <div class="col-6">
                    <p>Es la forma en que el cerebro y el cuerpo responden a un desafío o exigencia; Cuando está estresado, su cuerpo libera ciertas hormonas, No todo el estrés es malo, de hecho puede ayudar a sobrevivir a situaciónes peligrosas, pero el estrés que dura mucho puede dañar la salud.
                    </p>
                    <h2 class="sub">¿Que causa el estrés?
                    </h2>
                    <p>- Estrés de rutina: Debido al exceso de trabajo, escuela, necesidades familiares, problemas economicos y otras presiones diarias 
                        <br>
                        - Estrés por cambios repentinos y dificiles en su vida: Como divorcios, enfermedades, perdida de trabajo
                        <br>
                        -Estrés traumatico: Puede ocurrir cuando está en peligro de sufrir un daño grave o la muerte. 
                        </p>
                        <h2 class="sub">¿Como puede dañar mi salud el estrés? 
                        </h2>
                        <p>-Enfermarse con más frecuencia de lo habitual
                            <br>
                            -Tener problemas para diregir alimentos
                            <br>
                            - Tener problemas para dormir 
                            <br>
                            -Tener dolores de cabeza 
                            <br>
                            -Sentirse triste, enojado o molesto con facilidad.
                            </p>
                        <h2 class="sub">¿Como puedo manejar el estrés? 
                        </h2>
                        <p>-Hacer ejercicio con regularidad
                            <br>
                            -Realizar actividades relajantes
                            <br>
                            -Dormir lo suficiente todas las noches
                            <br>
                            -Evitar demasiada cafeína 
                            <br>
                            -Decidir qué debe hacer ahora y qué puede esperar 
                            </p>
                        <h2 class="sub">¿Cuando debo pedirle ayuda a un profesional de la salud? 
                        </h2>
                        <p>-Problemas de insomnio 
                            <br>
                            -Cambios en la alimentación 
                            <br>
                            -Problemas para levatarse de la cama debido a su estado de animo 
                            <br>
                            -Dificultad para enfocar sus pensamientos</p>
                </div>
                <div class="col-6">
                    <img src="{% static 'aplicacion/iconos/estres.png' %}" alt="" width=100% height=100%>
                </div>
            </div>
        </div>

</section>

<style>
    .contenido{
        font-size: 15px;
    }
    .sub{
        font-size: 26px;
    }
</style>
{% endblock %}
