
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}si{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'aplicacion/css/ingreso.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>

    <section>
        <div class="formulario">
            <form method="post">
                {% csrf_token %}
                <label for="id">Documento de Identidad: </label>
                <input type="text" name="id" id="id" required>
                <label for="password">Contraseña:</label>
                <input type="password" name="password" id="password" required>
                <button type="submit">Iniciar Sesión</button>
                <a href="{% url 'recuperar' %}">¿Olvidaste tu Contraseña?</a>
            </form>
            {% if error_message %}
            <p style="color: red;">{{ error_message }}</p>
            {% endif %}
        </div>
    </section>
    
    <footer>
        <img src="{% static 'aplicacion/iconos/WhatsApp Image 2024-05-07 at 3.38.21 PM.jpeg' %}" alt="" width="80px">

        <div class="redes">
            <img src="{% static 'aplicacion/iconos/instagram-logo-24.png' %}" alt="" width="25px"><a href="" >Instagram</a>
            <br>
            <img src="{% static 'aplicacion/iconos/whatsapp-logo-24.png' %}" alt="" width="25px"><a href="">WhatsApp</a>
            <br>
            <img src="{% static 'aplicacion/iconos/gmail-logo-24.png' %}" alt="" width="25px"><a href="">tecnofuturosolutiones@gmail.com</a>
        </div>


        <div class="politica">
            <p>Politica y privacidad</p>
        </div>

    </footer>
</body>
</html>