<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'aplicacion/css/registro.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>

    <section>
        <div class="formulario">
            <form action="" method="POST">

                {% csrf_token %}
                {{ form }}
            
            
            <h2>Registrate</h2>
            {% if form.errors %}
            <p class="is-size-5">
            Usuario ya exitente
            </p>
            {% else %}
            {% endif %}  

            <label for="username">Usuario</label>
            <input type="text" name="username" placeholder="Nombre" required>

            <label for="email">Email</label>
            <input type="email" name="email" placeholder="@gmail.com" required>
    
            <label for="password">Contraseña</label>
            <input type="password" name="password" placeholder="" required>

            <label for="first_name">Primer nombre</label>
            <input type="text" name="first_name" placeholder="Direccion de casa" required>

            <button class="boton" type="submit" >Registrate</button>
            </form>       
        </div>
    </section>
    
    <footer>
        <img src="{% static 'aplicacion/iconos/WhatsApp Image 2024-05-07 at 3.38.21 PM.jpeg' %}" alt="" width="80px">

        <div class="redes">
            <img src="{% static 'aplicacion/iconos/instagram-logo-24.png' %}" alt="" width="25px"><a href="" >Instagram</a>
            <br>
            <img src="{% static 'aplicacion/iconos/whatsapp-logo-24.png' %}" alt="" width="25px"><a href="">WhatsApp</a>
            <br>
            <img src="{% static 'aplicacion/iconos/gmail-logo-24.png' %}" alt="" width="25px"><a href="">tecnofuturosolutiones@gmail.com</a>
        </div>


        <div class="politica">
            <p>Politica y privacidad</p>
        </div>

    </footer>

</body>
</html>