*{
    margin: 0;
    padding: 0;
}

header h1{
    background-color: #ABFCB8;
    border-radius: 20px;
    padding: 50px;
    margin: 20px 400px 0px 20px;
}
header h1 img{
    float: right;
    margin: -85px -10px 0 80px;
    display: block;
    
}

article{
    
    text-align: center;
    padding: 200px;
    
}

article button{
    padding: 10px 50px;
    border-radius: 20px;
    background-color: #ABFCB8;
    
}
article button a{
    color: black;
}

article button:hover{
    cursor: pointer;
    background-color:  #00FF00;
}

footer{
    box-shadow: #ABFCB8 0px -80px 30px;
    color: black;
}
.redes{
    text-align: left;
}
.politica{
    float: right;
}

footer a{
    color: black;
}
footer img{
    float: left;
}

.logosena{
    float: right;
    margin: 0px 100px 0px 0px;
}

#titulo{
    background-image: url("iconos/triangulos.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 25% 85%;
}